<section class='contact section'>
  <div class='container animated fadeIn'>
    <div class='row'>
      <!-- Title -->
      <div class='section-title padd-15'>
        <h2>Contacto</h2>
      </div>
      <!-- Title -->
    </div>
    <div class='row'>

      <!-- Contact Info -->
      <div class='contact-info-item'>
        <div class='icon'><a href='https://api.whatsapp.com/send?phone=56937169615' target='_blank'><i class='fab fa-whatsapp'></i></a></div>
        <h4>Whatsapp</h4>
      </div>
      <!-- Contact Info -->

      <!-- Contact Info -->
      <div class='contact-info-item'>
        <div class='icon'><a href='https://www.google.com/maps/place/Santiago,+Regi%C3%B3n+Metropolitana/@-33.4724728,-70.9100195,10z/data=!3m1!4b1!4m5!3m4!1s0x9662c5410425af2f:0x8475d53c400f0931!8m2!3d-33.4488897!4d-70.6692655' target='_blank'><i class='fas fa-map-marker'></i></a></div>
        <h4>Oficina</h4>
      </div>
      <!-- Contact Info -->

      <!-- Contact Info -->
      <div class='contact-info-item'>
        <div class='icon'><a href='mailto:camiloj.lopez79@gmail.com' target='_blank'><i class='fas fa-envelope'></i></a></div>
        <h4>Email</h4>
      </div>
      <!-- Contact Info -->

    </div>
  </div>
</section>
