<section class='portfolio section'>
  <div class='container animated fadeIn'>

    <div class='row'>
      <!-- Title -->
      <div class='section-title padd-15'>
        <h2>Portafolio</h2>
      </div>
      <!-- Title -->
    </div>

    <div class='row'>
      <!-- Portfolio Item -->
      <div class='portfolio-item padd-15'>
        <div class='portfolio-item-inner shadow-dark'>
          <div class='portfolio-img'>
            <img src='assets/images/portfolio/1.jpg' alt='portfolio' />
            <div class='portfolio-date'>
              <a href="https://github.com/Newflaree/clima-app" target="_blank">Repositorio</a>
            </div>
          </div>
          <div class='portfolio-info'> 
            <h4 class='portfolio-title'>Aplicación del clima</h4>
            <p class='portfolio-desc'>
              Esta aplicación de consola nos permite conocer la ubicación, la temperatura y el clima de una ciudad.
              La aplicación está construida en Node y las peticiones las ejecuta axios. Para conocer más, visita el repositorio.
            <p>
            <p class='portfolio-tags'>
              Tags: <a href='https://nodejs.org/' target="_blank">
                      Node.Js
                    </a>, 
                    <a href='https://www.mapbox.com/' target="_blank">
                      Mapbox 
                    </a>,
                    <a href='https://openweathermap.org/' target="_blank">
                      OpenWeather 
                    </a>
            <p>
          </div>
        </div>
      </div>
      <!-- Portfolio Item -->
      <!-- Portfolio Item -->
      <div class='portfolio-item padd-15'>
        <div class='portfolio-item-inner shadow-dark'>
          <div class='portfolio-img'>
            <img src='assets/images/portfolio/2.jpg' alt='portfolio' />
            <div class='portfolio-date'>
              <a class='second' href="https://newflaree.github.io/completosland/" target="_blank">Visitar</a>
              <a href="https://github.com/Newflaree/completosland" target="_blank">Repositorio</a>
            </div>
          </div>
          <div class='portfolio-info'> 
            <h4 class='portfolio-title'>Completo's Land</h4>
            <p class='portfolio-desc'>
              Completo's Land es un landing para los amantes de los completos. Está hecho únicamente 
              con Html, Css y JavaScript ( principalmente ES6 ).
              Es una página simple y que se puede disfrutar desde la comodidad de cualquier dispositivo.
            <p>
            <p class='portfolio-tags'>
              Tags: <a href='https://es.wikipedia.org/wiki/HTML' target="_blank">
                      Html
                    </a>, 
                    <a href='https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada' target="_blank">
                      Css
                    </a>,
                    <a href='https://es.wikipedia.org/wiki/JavaScript' target="_blank">
                      JavaScript
                    </a>
            <p>
          </div>
        </div>
      </div>
      <!-- Portfolio Item -->
      <!-- Portfolio Item -->
      <div class='portfolio-item padd-15'>
        <div class='portfolio-item-inner shadow-dark'>
          <div class='portfolio-img'>
            <img src='assets/images/portfolio/3.jpg' alt='portfolio' />
            <div class='portfolio-date'>
              <a class='second' href="https://tmdbapp-newflare.herokuapp.com" target="_blank">Visitar</a>
              <a href="https://github.com/Newflaree/themoviedatabase-app" target="_blank">Repositorio</a>
            </div>
          </div>
          <div class='portfolio-info'> 
            <h4 class='portfolio-title'>TMDB App</h4>
            <p class='portfolio-desc'>
              Esta app está construida en Angular y consume la famosa API de The Movie DB. Obtiene las peliculas, y con su mismo id,
              obtiene su cast. También es manejado por pequeño web-server hecho con express. Para más información visita el repositorio.
            <p>
            <p class='portfolio-tags'>
              Tags: <a href='https://angular.io/cli' target="_blank">
                      Angular
                    </a>, 
                    <a href='https://www.themoviedb.org/' target="_blank">
                      TMDB
                    </a>,
                    <a href='https://expressjs.com/es/' target="_blank">
                      Express
                    </a>
            <p>
          </div>
        </div>
      </div>
      <!-- Portfolio Item -->
    </div>

  </div>
</section>
<!-- End Portfolio Section -->
