<section class='about section'>
  <div class='container animated fadeIn'>

    <div class='row'>
      <!-- Title -->
      <div class='section-title padd-15'>
        <h2>Sobre Mi</h2>
      </div>
      <!-- Title -->
    </div>

    <div class='row'>
      <div class='about-content padd-15'>
        <div class='row'>
          <div class='about-text padd-15'>
            <h3>Soy Camilo López, <span>Desarrollador Web</span></h3>
            <p>
              Un programador autodidacta y amante de la tecnología. Me gusta intentar encontrar la mejor solución a la hora de enfrentar un problema, de la mano de una organización centrada en la cooperación entre los miembros del equipo e incentivar una rica cultura laboral.
            </p>
          </div>
        </div>
        <!-- CV Button -->
        <div class='buttons top-35'>
          <a href='assets/cv/cv.pdf' class='btn' target='_blank'  download='curriculum.pdf'>Descargar CV</a>
        </div>
        <!-- CV Button -->
        <div class='row'>
          <div class='education padd-15'>
            <h3 class='title'>Educación</h3>
            <div class='row'>
              <div class='timeline-box padd-15'>
                <div class='timeline shadow-dark'>
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> Actualmente
                    </h6>
                    <h4 class='timeline-title'>
                      Udemy Angular avanzado - MEAN Stack, JWT, Lazyload
                    </h4>
                    <p class='timeline-text'>
                      Profesor: Fernando Herrera
                    </p>
                    <p class='timeline-text'>
                      Horas: 32
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> Enero 2021
                    </h6>
                    <h4 class='timeline-title'>
                      Udemy NodeJs - NPM, Express, MongoDB, Postman avanzado
                    </h4>
                    <p class='timeline-text'>
                      Profesor: Fernando Herrera
                    </p>
                    <p class='timeline-text'>
                      Horas: 29
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> Noviembre 2020
                    </h6>
                    <h4 class='timeline-title'>
                      Udemy Git - Ramas, Stash y Rebase, Github
                    </h4>
                    <p class='timeline-text'>
                      Profesor: Fernando Herrera
                    </p>
                    <p class='timeline-text'>
                      Horas: 7
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> Septiembre 2020
                    </h6>
                    <h4 class='timeline-title'>
                      Udemy Angular 2+ - TypeScript, CLI y ciclos de vida
                    </h4>
                    <p class='timeline-text'>
                      Profesor: Fernando Herrera
                    </p>
                    <p class='timeline-text'>
                      Horas: 36
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> Mayo 2020
                    </h6>
                    <h4 class='timeline-title'>
                      Html y css - Estudio autodidacta
                    </h4>
                    <p class='timeline-text'>
                      Profesor: Youtube, Google
                    </p>
                    <p class='timeline-text'>
                      Horas: Sumando horas cada día
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                </div>
              </div>
            </div>
          </div>
          <div class='experience padd-15'>
            <h3 class='title'>Experiencia</h3>
            <div class='row'>
              <div class='timeline-box padd-15'>
                <div class='timeline shadow-dark'>
                          
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> 2020 - 2021
                    </h6>
                    <h4 class='timeline-title'>
                      Desarrollador Back-end
                    </h4>
                    <p class='timeline-text'>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Quisque scelerisque diam non nisi semper, et elementum lorem ornare
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
