<section class='about section'>
  <div class='container animated fadeIn'>

    <div class='row'>
      <!-- Title -->
      <div class='section-title padd-15'>
        <h2>Sobre Mi</h2>
      </div>
      <!-- Title -->
    </div>

    <div class='row'>
      <div class='about-content padd-15'>
        <div class='row'>
          <div class='about-text padd-15'>
            <h3>Soy Camilo López, <span>Desarrollador Web</span></h3>
            <p>
              Un programador autodidacta y amante de la tecnología. Me gusta intentar encontrar la mejor solución a la hora de enfrentar un problema, de la mano de una organización centrada en la cooperación entre los miembros del equipo e incentivar una rica cultura laboral.
            </p>
          </div>
        </div>
        <!-- CV Button -->
        <div class='buttons top-35'>
          <a href='assets/cv/cv.pdf' class='btn' target='_blank'  download='curriculum.pdf'>Descargar CV</a>
        </div>
        <!-- CV Button -->
        <div class='row'>
          <div class='education padd-15'>
            <h3 class='title'>Educación</h3>
            <div class='row'>
              <div class='timeline-box padd-15'>
                <div class='timeline shadow-dark'>
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> Actualmente
                    </h6>
                    <h4 class='timeline-title'>
                      Udemy Angular avanzado - MEAN Stack, JWT, Lazyload
                    </h4>
                    <p class='timeline-text'>
                      Profesor: Fernando Herrera
                    </p>
                    <p class='timeline-text'>
                      Horas: 32
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> Enero 2021
                    </h6>
                    <h4 class='timeline-title'>
                      Udemy NodeJs - NPM, Express, MongoDB, Postman avanzado
                    </h4>
                    <p class='timeline-text'>
                      Profesor: Fernando Herrera
                    </p>
                    <p class='timeline-text'>
                      Horas: 29
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> Noviembre 2020
                    </h6>
                    <h4 class='timeline-title'>
                      Udemy Git - Ramas, Stash y Rebase, Github
                    </h4>
                    <p class='timeline-text'>
                      Profesor: Fernando Herrera
                    </p>
                    <p class='timeline-text'>
                      Horas: 7
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> Septiembre 2020
                    </h6>
                    <h4 class='timeline-title'>
                      Udemy Angular 2+ - TypeScript, CLI y ciclos de vida
                    </h4>
                    <p class='timeline-text'>
                      Profesor: Fernando Herrera
                    </p>
                    <p class='timeline-text'>
                      Horas: 36
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> Julio 2020
                    </h6>
                    <h4 class='timeline-title'>
                      Udemy Html5, Css3 y JavaScript
                    </h4>
                    <p class='timeline-text'>
                      Profesor: Nicolas Schurmann
                    </p>
                    <p class='timeline-text'>
                      Horas: 17
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                </div>
              </div>
            </div>
          </div>
          <div class='experience padd-15'>
            <h3 class='title'>Experiencia</h3>
            <div class='row'>
              <div class='timeline-box padd-15'>
                <div class='timeline shadow-dark'>
                          
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> Enero 2021 - Actualmente
                    </h6>
                    <h4 class='timeline-title'>
                      Desarrollador Back-end
                    </h4>
                    <p class='timeline-text'>
                      Actualmente estoy trabajando en crear APIs personalizadas para luego consumirlas con el Front-end, además de estudiar más
                      a fondo estructuras de datos y como capturar los errores de la mejor manera.
                    </p>
                    <p class='timeline-text'>
                      El principal problema que enfrenté en este punto fue la necesidad de organización a la hora de abordar un proyecto. 
                    </p>
                    <p class='timeline-text'>
                      Mientras estudiaba NodeJS, también implementé Git como sistema de control de versiones, de la mano de Scrum y XP 
                      como motodología agil de desarrollo a la hora de construir el Back-end y el proyecto en general.
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> Septiembre 2020 - Enero 2021
                    </h6>
                    <h4 class='timeline-title'>
                      Desarrollador Front-end
                    </h4>
                    <p class='timeline-text'>
                      Tras aprender a trabajar con Html, Css y JavaScript, el siguiente paso era aprender algún framework. Así fue como me interesé
                      por Angular y comencé a construir aplicaciones diversas.
                    </p>
                    <p class='timeline-text'>
                      El principal problema que encontré al momento de trabajar con Angular fue la llegada de TypeScript a mi flujo de trabajo y 
                      el nuevo concepto de componentes, también tenía que entender su ciclo de vida, entender cómo funciona el enrutamiento de Angular, 
                      sus directivas estructurales y como modificaban el DOM de una manera más fácil y limpia.
                    </p>
                    <p class='timeline-text'>
                      Al trabajar con Angular, logré construir aplicaciones modulares con componentes re utilizables además de aprender a utilizar el CLI. 
                      Al conocer ya Css, la implementación de framework de diseño tales como Bootstrap o Angular Material no fue difícil. Tras varias 
                      horas logré hacer peticiones a diferentes APIs, como Spotify, Google Maps, TMDB, entre otras.
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                  <!-- Timeline Item -->
                  <div class='timeline-item'>
                    <div class='circle-dot'></div>
                    <h6 class='timeline-date'>
                      <i class='fa fa-calendar'></i> Julio 2020 - Septiembre 2020
                    </h6>
                    <h4 class='timeline-title'>
                      Diseñador Web
                    </h4>
                    <p class='timeline-text'>
                      Trabajé construyendo páginas estáticas utilizando Html, Css y JavaScript para manipular los elementos del DOM.
                    </p>
                    <p class='timeline-text'>
                      El principal problema que enfrenté fue comprender cómo funcionaba el modelo de caja en Html, manipular el 
                      contenido de una página utilizando Css Flex o Grid y dar funcionalidad a los elementos como el navbar.
                    </p>
                    <p class='timeline-text'>
                      Luego de mucho estudio y sobre todo práctica, logré crear sitios estáticos creados desde cero, con una estética 
                      profesional, totalmente responsivo y bien documentados para que a futuro sea fácil implementarlo en algún framework.
                    </p>
                  </div>
                  <!-- Timeline Item End -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
