<!-- Start Lightbox -->
<div class='lightbox show'>
  <span class='close-lightbox fas fa-times'></span>	
  <div class='light-container'>

    <div class='row padd-15'>
      <div class='section-title padd-15'>
        <h2>Title</h2>
      </div>
    </div>

    <div class='row padd-15'>
      <div class='lightbox-info'>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mollis mauris vel tempor faucibus. Aliquam pellentesque sem vitae metus condimentum, ac finibus mauris laoreet. Phasellus consectetur non turpis quis elementum. Sed auctor ante id faucibus eleifend. Pellentesque lectus ex, molestie nec feugiat eu, maximus eu erat. Nullam consectetur velit nunc, id faucibus nibh varius vitae. Nunc in gravida est. Duis id velit luctus, ornare massa at, congue orci. Sed quam massa, ornare vel urna sit amet, lobortis lobortis libero. Praesent malesuada mi eget lectus hendrerit rhoncus. Etiam non felis eget purus sollicitudin congue sed ac sapien.
        </p>
      </div>
      <div class='lightbox-img'>
        <img src="">
      </div>
    </div>

  </div>
</div>
<!-- End Lightbox -->

