<section class='service section'>
  <div class='container animated fadeIn'>

    <div class='row'>
      <!-- Title -->
      <div class='section-title padd-15'>
        <h2>Servicios</h2>
      </div>
      <!-- Title -->
    </div>

    <div class='row'>
      <!-- Start Service Item -->
      <div class='service-item padd-15'>
        <div class='service-item-inner'>
          <div class='icon'><i class='fas fa-code'></i></div>
          <h4>Software a medida</h4>
          <p>
            Contrucción de software a medida para que puedas llevar tus proyectos hasta donde deseas.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Start Service Item -->
      <div class='service-item padd-15'>
        <div class='service-item-inner'>
          <div class='icon'><i class='fas fa-th'></i></div>
          <h4>Aplicaciones modulares</h4>
          <p>
            Se puede optimizar una aplicación si todos sus componentes son independientes y reutilizables.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Start Service Item -->
      <div class='service-item padd-15'>
        <div class='service-item-inner'>
          <div class='icon'><i class='fas fa-shield-alt'></i></div>
          <h4>Encriptado de información</h4>
          <p>
            La seguridad de información sensible es muy importante para sobrevivir en internet.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Start Service Item -->
      <div class='service-item padd-15'>
        <div class='service-item-inner'>
          <div class='icon'><i class='fas fa-database'></i></div>
          <h4>API rest a medida</h4>
          <p>
            Una API a medida nos permite mostrar los datos de manera organizada y procurar capturar la mayor cantidad de errores.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Start Service Item -->
      <div class='service-item padd-15'>
        <div class='service-item-inner'>
          <div class='icon'><i class='fas fa-ruler-combined'></i></div>
          <h4>Aplicaciones web responsivas</h4>
          <p>
            Disfruta de tus aplicaciones en cualquier lugar, con el dispositivo que quieras.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Start Service Item -->
      <div class='service-item padd-15'>
        <div class='service-item-inner'>
        <div class='icon'><i class='fas fa-paint-brush'></i></div>
          <h4>Estilo a medida</h4>
          <p>
            Para que no te encuentres con tu hermano gemelo perdido mientras navegas.
          </p>
        </div>
      </div>
      <!-- End Service Item -->
    </div>

  </div>
</section>
