<section class='home section'>
  <div class='container animated fadeIn'>

    <div class='intro'>

      <!-- Img -->
      <div class='img'>
        <img src='assets/images/about.jpg' alt='profile' class='shadow-dark ' />
      </div>
      <!-- Img -->

      <!-- Info -->
      <h1>Camilo López</h1>
      <p>Desarrollador Web</p>
      <div class='social-links'>
        <a href='https://github.com/Newflaree' target='_blank'><i class='fab fa-github'></i></a>
        <a href='https://www.instagram.com/neewflare/' target='_blank'><i class='fab fa-instagram'></i></a>
        <a href='https://www.linkedin.com/in/camilo-l%C3%B3pez-ahumada-74a935185/' target='_blank'><i class='fab fa-linkedin'></i></a>
      </div>
      <!-- Info -->
      
    </div>
  </div>
</section>
